body{margin:0px;padding:0px;font-family: sans-serif;background-color: #c6dae4}

header {
    text-align: center;
    margin: 0px auto;
    width: 100%;
    background-color: #000;
    padding: 10px 0px;
}
header h1 {
    margin: 0px;
    color: #fff;
}
main {
    display: flex;
    margin: 0px auto;
    padding-top: 20px;
}
#boxLeft figure {
    margin: 0px;
}
#rowText{
    text-align: center;
}
footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    margin: 0px auto;
    width: 100%;
    background-color: #fff;
    padding: 10px 0px;
}
footer p {
    margin: 0px 20px;
    color: #c6dae4;
    font-size: small;
}
nav{
    margin: 10px;
}
nav ul li{
    margin-right:40px;
    padding:0;
    display:inline;
    color: dodgerblue;
    text-decoration:none;
}
ul li{
    list-style:none;
}
.spacer {
    width: 10%;
}
.grid-90{
    margin-right: 0%;
    width: 90%;
}
.grid-80{
    margin-right: 0%;
    width: 80%;
}
.grid-60{
    margin-right: 0%;
    width: 60%;
}
.grid-50{
    margin-right: 0%;
    width: 50%;
}
.grid-40{
    margin-right: 0%;
    width: 40%;
}
.grid-20{
    margin-right: 0%;
    width: 20%;
}
#errorForm{
    padding-left: 20px;
}
.error{
    color: red;
    margin-bottom: 20px;
    font-size: 0.9em;
    margin: 5px 0px;
}
#rowsubmit{
    padding-top: 30px;
}
#submitButton{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: dodgerblue;
    width: 30%;
    border-radius: 10px;
    color: #fff;
}
#submitButton p{
    margin: 0px;
}
#submitButton:hover{
    transform: scale(1.1);
}

/*******************************************************************************/

@media only screen and (min-width: 1000px) {
    main {
        width: 80%;
    }
    #boxLeft {
        margin: 0px;
        width: 50%;
    }
    #boxLeft img {
        width: 100%;
    }
    #boxRight {
        margin: 0px;
        width: 50%;
    }
    #rowText h1{
        margin: 20px 0px 0px 0px;
        color: dodgerblue;
    }
    #rowText p{
        margin: 0px;
        color: dimgray;
    }
    #rowForm{
        width: 100%;
        padding: 0px;
        text-align: left;
        padding: 0px;
        margin-bottom: 30px;
    }
    #rowForm  ul{
        list-style: none;
        padding: 0px;
    }
    #rowForm  li{
        padding: 0px 0px 0px 50px;
    }
    input{
        border-radius: 10px;
        border: 0px;
        padding: 20px 0px 20px 10px;
        margin-bottom: 10px;
        font-size: 1.2em;
    }
    li p{
        margin: 0px 0px 0px 10px;
        font-size: 10px;
        color: dimgray;
    }
}

/*******************************************************************************/

@media only screen and (max-width: 999px) {

    main {
        width: 100%;
    }
    #boxLeft {
        margin: 0px;
        width: 30%;
        margin-left: 30px;
        padding-top: 50px;
    }
    #boxLeft img {
        width: 100%;
    }
    #boxRight {
        margin: 0px;
        width: 70%;
    }
    #rowText h1{
        margin: 20px 0px 0px 0px;
        color: dodgerblue;
    }
    #rowText p{
        margin: 0px;
        color: dimgray;
    }
    #rowForm{
        width: 100%;
        padding: 0px;
        text-align: left;
        padding: 0px;
        margin-bottom: 30px;
    }
    #rowForm  ul{
        list-style: none;
        padding: 0px;
    }
    #rowForm  li{
        padding: 0px 0px 0px 50px;
    }
    input{
        border-radius: 10px;
        border: 0px;
        padding: 20px 0px 20px 10px;
        margin-bottom: 10px;
        font-size: 1.1em;
    }
    li p{
        margin: 0px 0px 0px 10px;
        font-size: 10px;
        color: dimgray;
    }
}

/*******************************************************************************/

@media only screen and (max-width: 699px) {

    #boxLeft {
        display: none;

    }
    #boxRight {
        margin: 0px;
        width: 100%;
    }
    #rowText{
        text-align: center;
    }
    #rowText h1{
        margin: 20px 0px 0px 0px;
        color: dodgerblue;
    }
    #rowText p{
        margin: 0px;
        color: dimgray;
    }
    #rowForm{
        width: 100%;
        padding: 0px;
        text-align: left;
        padding: 0px;
        margin-bottom: 30px;
    }
    #rowForm  ul{
        list-style: none;
        padding: 0px;
    }
    #rowForm  li{
        padding: 0px 0px 0px 50px;
    }
    input{
        border-radius: 10px;
        border: 0px;
        padding: 20px 0px 20px 10px;
        margin-bottom: 10px;
        font-size: 1.3em;
    }
    .legal {
        display: none;
    }
    li p{
        margin: 0px 0px 0px 10px;
        font-size: 10px;
        color: dimgray;
    }
}

/*******************************************************************************/


